################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/APIs/campaigns/node_modules/.bin
/APIs/campaigns/node_modules
/APIs/PaymentGateway/bin
/APIs/PaymentGateway/.cr
/APIs/PaymentGateway/obj
/APIs/PaymentGateway/obj
/APIs/PaymentGateway/.vs
/APIs/ssoServer/node_modules
/APIs/ssoServer/.idea
